# Copiar como .env (no se sube a git). Supabase > Project Settings > API Keys
EXPO_PUBLIC_SUPABASE_URL=https://bmtzespsvdafhlrwnpjp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Ab0sREFKkXC2Dw8e1yhjwA_xXKO-sJ-
